<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | {{name}}</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <link href="/css/toastr.css" rel="stylesheet"/>
</head>
<body>

    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/signup" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Login</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="your_name" id="your_name" placeholder="Enter Your Username Or Email-ID" required/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="Password" required/>
                            </div>
                            <div class="form-group">
                                <a href="/resetpassword" class="signup-image-link">Forgot Password ?</a>
                            </div>
                            <div class="form-group form-button display-flex-center">
                                <input type="button" name="signin" id="signin" class="form-submit" value="Log in" required/>
                            </div>

                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="/js/toastr.js"></script>
    <script src="js/main.js"></script>
    <script>
        $('body').on('click', '#signin', function(){
            
            let email = $('#your_name').val();
            let password = $('#your_pass').val();
            
            // [ Validation ]
            if(!email){
                toastr.info("Please Enter Your Username Or Email");
            }
            else if(!password){
                toastr.info("Please Enter Password");
            }
            else{
                $.ajax({
                    url: "/",
                    method: "POST",
                    data: {
                        email: email,
                        password: password
                    },
                    success: function(resp){
                        console.log('Response Data: ',resp);
                        if(resp.status == 'success'){
                            toastr.success(resp.message);
                            setTimeout(function(){
                                window.location.replace('/homepage');
                            },1000);
                        }
                        else {
                            toastr.error(resp.message);
                        }
                    }
                });
            }

            
        });
    </script>
</body>
</html>