<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin/dashboard" class="brand-link">
      <img src="/admin/dist/img/handsfree Survey.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Admin Page</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <a href="/admin/profile">
          <div class="image">
            <img src="/admin/dist/img/admin.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
        </a>
        <div class="info">
          <a href="/admin/profile" class="d-block">Sahil Rawal</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <!-- <li class="nav-item"> <a href="/admin/dashboard" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i> <p> Dashboard </p> </a> </li> -->

          <li class="nav-item">
            <a href="/admin/leaderboard" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Leaderboard
              </p>
            </a>
          </li>

                    

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-poll-h"></i>
              <p>
                Survey Management
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/admin/survey" class="nav-link">
                  <i class="far fa-poll-h nav-icon"></i>
                  &nbsp;<p>Survey</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/survey/trash" class="nav-link">
                  <i class="far fa-trash nav-icon"></i>
                  &nbsp;<p>Trash</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-poll-h"></i>
              <p>
                Question Management
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/admin/question/queList" class="nav-link">
                  <i class="far fa-poll-h nav-icon"></i>
                  &nbsp;<p>Question</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/questoin/trash" class="nav-link">
                  <i class="far fa-trash nav-icon"></i>
                  &nbsp;<p>Trash</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="/admin/userManagement" class="nav-link">
              <i class="nav-icon fas fa-users-cog"></i>
              <p>
                User Management
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/setting" class="nav-link">
              <i class="nav-icon fas fa-sliders-h"></i>
              <p>
                Settings
              </p>
            </a>
          </li>

          <!-- <li class="nav-item">
            <a href="/admin/profile" class="nav-link">
              <i class="nav-icon fas fa-user-shield"></i>
              <p>
                Admin Profile
              </p>
            </a>
          </li> -->

      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>