<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Admin | {{name}}</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- Google Font: Source Sans Pro -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
      <!-- Tostar  -->
      <link href="/css/toastr.css" rel="stylesheet"/>
      <!-- Font Awesome -->
      <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
      <!-- Ionicons -->
      <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <!-- Tempusdominus Bootstrap 4 -->
      <link rel="stylesheet" href="/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
      <!-- iCheck -->
      <link rel="stylesheet" href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
      <!-- JQVMap -->
      <link rel="stylesheet" href="/admin/plugins/jqvmap/jqvmap.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">
      <!-- overlayScrollbars -->
      <link rel="stylesheet" href="/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
      <!-- Daterange picker -->
      <link rel="stylesheet" href="/admin/plugins/daterangepicker/daterangepicker.css">
      <!-- summernote -->
      <link rel="stylesheet" href="/admin/plugins/summernote/summernote-bs4.min.css">
   </head>
   <body class="hold-transition sidebar-mini layout-fixed">
      <div class="wrapper">
         <!-- Preloader -->
         <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="/admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
         </div>
         <!-- Navbar -->
         {% include '../templates/header.njk' %}
         <!-- /.navbar -->
         <!-- Main Sidebar Container -->
         {% include '../templates/sidemenu.njk' %}
         <div class="content-wrapper" style="min-height: 1302.4px;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="container-fluid">
                  <div class="row mb-2">
                     <div class="col-sm-6">
                        <h1>Edit Survey</h1>
                     </div>
                     <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                           <li class="breadcrumb-item"><a href="/admin/survey">Home</a></li>
                           <li class="breadcrumb-item active">Survey</li>
                        </ol>
                     </div>
                  </div>
               </div>
               <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-12">
                        <div class="card">
                           <!-- /.card-header -->
                           <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <div class="card">
                           <div class="card-header">
                              <h3 class="card-title">Edit Survey</h3>
                           </div>
                           <!-- /.card-header -->
                           <form class="form-horizontal">
                              <div class="card-body">
                                 <div class="form-group row">
                                    <label for="surveyname" class="col-sm-2 col-form-label">Survey Name</label>
                                    <div class="col-sm-10">
                                       <input type="text" class="form-control" id="surveyname" value="{{survey.surveyName}}" required />
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                                    <div class="col-sm-10">
                                       <input type="text" class="form-control" id="description" value="{{survey.description}}" required />
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <label for="surveystatus" class="col-sm-2 col-form-label">Survey Status</label>
                                    <div class="col-sm-10">
                                       <div class="form-group">
                                          <select class="form-control" id="surveystatus" required>
                                             <option value="active">Active</option>
                                             <option value="inactive">Inactive</option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Dynamic HTML -->
                                 
                                 <!-- <div id="parentAva">
                                    <p><b>Is Deleted:</b>&nbsp;&nbsp;
                                       <input type="radio" id="yes" name="isdeleted" value="yes" required /><label for="yes">YES</label>&nbsp;         
                                       <input type="radio" id="no" name="isdeleted" value="no" /><label for="no">NO</label>
                                    </p>
                                    
                                 </div> -->
                              </div>
                              <!-- /.card-body -->
                              <div class="card-footer">
                                 <button type="button" id="submitBtn" class="btn btn-info">Submit</button>
                                 <button type="button" class="btn btn-default float-right" id="cancel">Cancel</button>
                              </div>
                              <!-- /.card-footer -->
                           </form>
                           <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                     </div>
                     <!-- /.col -->
                  </div>
                  <!-- /.row -->
               </div>
               <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
         </div>
         {% include '../templates/footer.njk' %}
         <!-- Control Sidebar -->
         <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
         </aside>
         <!-- /.control-sidebar -->
      </div>
      <!-- ./wrapper -->
      <!-- Toastr JS -->
      <script src="/js/toastr.js"></script>  
      <!-- jQuery -->
      <script src="/admin/plugins/jquery/jquery.min.js"></script>
      <!-- jQuery UI 1.11.4 -->
      <script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
      <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
      <script>
         $.widget.bridge('uibutton', $.ui.button)
      </script>
      <!-- Bootstrap 4 -->
      <script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- ChartJS -->
      <script src="/admin/plugins/chart.js/Chart.min.js"></script>
      <!-- Sparkline -->
      <script src="/admin/plugins/sparklines/sparkline.js"></script>
      <!-- JQVMap -->
      <script src="/admin/plugins/jqvmap/jquery.vmap.min.js"></script>
      <script src="/admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
      <!-- jQuery Knob Chart -->
      <script src="/admin/plugins/jquery-knob/jquery.knob.min.js"></script>
      <!-- daterangepicker -->
      <script src="/admin/plugins/moment/moment.min.js"></script>
      <script src="/admin/plugins/daterangepicker/daterangepicker.js"></script>
      <!-- Tempusdominus Bootstrap 4 -->
      <script src="/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
      <!-- Summernote -->
      <script src="/admin/plugins/summernote/summernote-bs4.min.js"></script>
      <!-- overlayScrollbars -->
      <script src="/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
      <!-- AdminLTE App -->
      <script src="/admin/dist/js/adminlte.js"></script>
      <!-- AdminLTE for demo purposes -->
      <script src="/admin/dist/js/demo.js"></script>
      <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
      <script src="/admin/dist/js/pages/dashboard.js"></script>
      <!-- [ Question Script ] -->
      <script>
         $('body').on('click', '#cancel', function(){
            toastr.error("Survey Not Updated!!");
            setTimeout(function(){
                            window.location.replace('/admin/survey');
                        },1000);
         });

         $('body').on('click', '#submitBtn', function(){
               let surveyId = '{{survey._id}}';
               console.log('surveyId',surveyId);
               let surveyname = $('#surveyname').val();
               let description = $('#description').val();
               let surveystatus = $('#surveystatus').val();

               
               let surveydetails = {
                  surveyname : surveyname,
                  description : description,
                  surveystatus : surveystatus,
                  _id : surveyId
               }
                  $.ajax({
                 url: "/admin/survey/editSurvey/:id",
                 method: "POST",
                 data: surveydetails,
                 success: function(resp){
                     console.log('Response Data: ',resp);
                     if(resp.status == 'success'){
                         toastr.success(resp.message);
                         setTimeout(function(){
                             window.location.replace('/admin/survey');
                         },1000);
                     }
                     else {
                         toastr.error(resp.message);
                     }
                 }
             });
               });

      </script>
   </body>
</html>