<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin | Log in</title>
  <link href="/css/toastr.css" rel="stylesheet"/>
      <!-- Link Files Include -->
      {% include '../templates/link.njk' %}
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Admin</b> {{name}} </a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>
<!-- action="/admin" method="post" -->
      <form >
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Email" id="name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" id="pass">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <input type="button" name="signin" id="signin" class="btn btn-primary btn-block" value="Log in" required/>
            <!-- <button type="submit" id="singin" class="btn btn-primary btn-block">Sign In</button> -->
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mb-1">
        <a href="forgot-password.html">I forgot my password</a>
      </p>
      
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- Script Files Include -->
      {% include '../templates/script.njk' %}
<script src="/js/toastr.js"></script>
  <script>
        $('body').on('click', '#signin', function(){
            
            let email = $('#name').val();
            let password = $('#pass').val();
            
            $.ajax({
                url: "/admin",
                method: "POST",
                data: {
                    email: email,
                    password: password
                },
                success: function(resp){
                    console.log('Response Data: ',resp);
                    if(resp.status == 'success'){
                        toastr.success(resp.message);
                        setTimeout(function(){
                            window.location.replace('/admin/survey');
                        },1000);
                    }
                    else {
                        toastr.error(resp.message);
                    }
                }
            });
            
        });
    </script> 

</body>
</html>